.timer-container {
  background-color: var(--timer-background-color);
  border: var(--timer-border);
  height: var(--timer-height);
  width: var(--timer-width);
}

.time-display{
  font-size: 10rem;
  text-align: center;
}

.timer-button-container {
  display: flex;
  margin-top: 20px;
}


